  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

 <table id="tasks_table">
  <thead>
    <tr>
      <th></th>
      <th>Status</th>
      <th>Progress</th>
      <th>User</th>
      <th>Request Date</th>
    </tr>
  </thead>

  <tbody>
    <% @all_tasks.each do |t| %>
      <tr>
        <td><img src="<%= asset_path( t.image_choice ) %>" /></td>
        <td >
          <%= t.interpreted_status %>
          <br/>
          <%= highlight( t.status.upcase, /SUCCESS|FAIL|ERROR/) %>
        </td>
        <td><%= t.processed.to_s + '/' + t.total.to_s %></td>
        <td><%= mail_to(t.email, t.fullname) %></td>
        <td><%= t.request_date %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>