<%= form_tag 'tasks/create', :multipart => true do %>
   <label for="json_file">Upload Json File</label> 
   <%= file_field_tag "json_file" %>
   <%= submit_tag 'Upload File' %>
<% end %>
<% if flash[:error] %>
  <div class="error"><%= flash[:error] %></div>
<% end %>  