<!DOCTYPE html>
<html>
<head>
  <title><%= t(:coding_challenge) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1><%= t(:coding_challenge) %></h1>
<b><%= link_to 'Home', root_url %></b>
<%= yield %>

</body>
</html>
